/* text-decoration: text-transform: text-align - покривають майже 90% потреб тексту
 white-space: nowrap; - не дає переноса строки якщо треба все в одну лінію*/

 /* шрифты локальные */
/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* створюємо загальну перемінну і кладемо колір 
який використовується найчастіше. потім просто додаємо ці перемінні */

:root 
{
    --primary-brand-color: #31261A;
    --brand-color: #819B57;
    --brand-color2: #FAF4EA;
    --btrand-color3: #465929;
}

body
{
    color: var(--primary-brand-color);
}

ul
{
    list-style-type: none;
}

.button
{
    border-radius: 8px;
    border: 2px solid var(--brand-color); 
    background: var(--brand-color);
    cursor: pointer;
}

.button:hover 
{
    color: var(--btrand-color3);
    background-color: transparent;
}

.header_link
{
    color: var(--brand-color2);
    text-decoration: none; 

}

.header_link:hover
{
    color: var(--brand-color);
}

.hero_title
{
   color: var(--brand-color2);
   font-family: Poppins, sans-serif;
   text-align: center;
}

 .hero_title .accent
{
    color: var(--brand-color);
    font-family: Poppins, sans-serif;
}

.advantages_list
{
    color: var(--brand-color2);
    background-color: var(--brand-color);
}

.section_title
{
    color: var(--primary-brand-color);
}

.section_title .accent2
{
 color: var(--btrand-color3);
}

.traditions_text_up span
{
    color: var(--brand-color);
    text-transform: uppercase;
}

.traditions_text_simple span
{
    color: var(--brand-color);
}