/* text-decoration: text-transform: text-align - покривають майже 90% потреб тексту
 white-space: nowrap; - не дає переноса строки якщо треба все в одну лінію*/

 /* шрифты локальные */
/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* створюємо загальну перемінну і кладемо колір 
який використовується найчастіше. потім просто додаємо ці перемінні */

:root 
{
    --primary-brand-color: #31261A;
    --brand-color: #819B57;
    --brand-color2: #FAF4EA;
    --brand-color3: #465929;
}
/* зірочка приміняє цей стиль до всіх елементів. бордер бокс означає що 
паддінг і бордер входить у розмір елемента  */
* {
    box-sizing: border-box;
}

/* якщо треба додати щось до одного елементу зі списку, наприклад є три блоки і треба 
примінити щось до останнього блоку - використовуємо назву стилю
наприклад .box:first-child - тільки до першого блоку */

body
{
    color: var(--primary-brand-color);
    font-family: poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1,5;
    margin: 0;
}

/* для всіх заголовків і тексту задаємо марджин 0 
аби браузер автоматично не додавав його звурху та знизу */
h1, h2, h3, h4, h5, h6, p
{
    margin-top: 0;
}

ul
{
    list-style-type: none;
}

.visually_hidden
{
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

/* задали для секцій зверху та знизу по 48px */
.section {
    padding: 48px 0;
}

.button
{ 
    color: var(--brand-color2);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid var(--brand-color); 
    background: var(--brand-color);
    cursor: pointer;
}

.button:hover 
{
    color: var(--brand-color3);
    background-color: transparent;
}

.header_link
{
    color: var(--brand-color2);
    text-align: center;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

}

.header_link:hover
{
    color: var(--brand-color);
}

.hero_section
{
    padding: 272px 0;
}

.hero_title
{
    margin-bottom: 0;
    color: var(--brand-color2);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 128px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

 .hero_title .accent
{
    color: var(--brand-color);
}

.advantages_list
{
    color: var(--brand-color2);
    background-color: var(--brand-color);
        font-family: Poppins, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
}

.section_title
{
    color: var(--primary-brand-color);
        font-family: Poppins;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 1.3;
}

.section_title2 {
    color: var(--primary-brand-color);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.3;
    text-align: center;
}

.section_title2 span {
    color: var(--brand-color3);
}

.traditions_text_up span
{
    color: var(--brand-color);
    text-transform: uppercase;
}

.traditions_text_simple span
{
    color: var(--brand-color);
}

/* аби блок лишався норм розміру
на великих резолюшенах. Ширина сто відсотків 
а максимальна 1280 */
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}